<div>

    <div class="row">

        <form action="">
            <select>
                <option ng-repeat="res in categories" value="{{res.text}}" ng-click="setCategory(res.text)">
                    {{res.text}}
                </option>

            </select>
            <select>
                <option ng-repeat="res in regions" value="{{res.text}}" ng-click="setRegion(res.text)">{{res.text}}
                </option>
            </select>
        </form>

        <div class="span2 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav affix span12">
                <li>
                    <a href="#">Search results</a>
                </li>
                <li ng-repeat="res in availableAnnounces">{{res.announceLine}}</li>
            </ul>
        </div>
        <div class="span3">
            <form ng-submit="search(searchField)">
                <input type="text" ng-model="searchField" class="span8">
            </form>
        </div>

    </div>
</div>
